@{
	ViewBag.Title = "Remove Category Error";
}

<section class="py-5 text-center container">
	<h1 class="fw-light">Remove Category Error</h1>
	<h2 class="lead">Cannot remove category with animals.</h2>
	<a class="btn btn-primary m-1" asp-controller="Home" asp-action="ManageCategories">Return</a>
</section>